[submodule "modules/pe_shared_ca"]
	path = modules/pe_shared_ca
	url = https://github.com/puppetlabs/puppetlabs-pe_shared_ca
[submodule "modules/pe_httpd"]
	path = modules/pe_httpd
	url = https://github.com/hunner/pe_httpd
[submodule "modules-extra/concat"]
	path = modules-extra/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "modules-extra/inifile"]
	path = modules-extra/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "modules-extra/postgresql"]
	path = modules-extra/postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "modules-extra/stdlib"]
	path = modules-extra/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules-extra/apache"]
	path = modules-extra/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "modules-extra/haproxy"]
	path = modules-extra/haproxy
	url = https://github.com/puppetlabs/puppetlabs-haproxy.git
