[submodule "modules/haproxy"]
	path = modules/haproxy
	url = https://github.com/puppetlabs/puppetlabs-haproxy.git
[submodule "modules/pe_shared_ca"]
	path = modules/pe_shared_ca
	url = https://github.com/puppetlabs/puppetlabs-pe_shared_ca
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/cprice-puppet/puppetlabs-inifile.git
[submodule "modules/pe_httpd"]
	path = modules/pe_httpd
	url = https://github.com/hunner/pe_httpd
